<!-- Aastha Neupane
Achint Jain
Kaustubh Karanjkar
Niyanta Lad  -->
<html>
  <h2>
    <div class="w3-container" id="home">
        <div id="breadcrumb-header">
            ALL SURVEYS
        </div>
        <br>
        <span style="color: white;">The list consists of students who completed the survey.</span>
    </div>
</h2>
  <body>
    <!-- Table to list all the names of the students who has completed the survey -->
    <br>
    <table id="surveys">
        <tr>
            <th>Student Name</th>
        </tr>
        <tr *ngFor="let survey of nameSurvey">
          <td>
            <a href="view-survey?fname={{survey}}">{{survey}}</a>
          </td>
        </tr>
    </table>
    <br>
  </body>
</html>